venv/
env/
.venv/
*.env

__pycache__/
*.pyc
*.pyo
*.pyd

tests/

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*~
.idea/
.vscode/

Dockerfile*
*.yml
*.yaml
*.git*

.cache/

*.md
*.rst

*.csv
*.json
*.db

.DS_Store
Thumbs.db
